altair==5.5.0
cachetools==6.2.6
dvc==3.67.1
dvc-data==3.18.3
dvc-http==2.32.0
dvc-objects==5.2.0
dvc-render==1.0.2
dvc-s3==3.3.0
dvc-studio-client==0.22.0
dvc-task==0.40.2
GitPython==3.1.46
matplotlib==3.10.8
mlflow==3.11.1
mlflow-skinny==3.11.1
mlflow-tracing==3.11.1
numpy==2.4.4
pandas==2.3.3
pyarrow==21.0.0
PyYAML==6.0.3
scikit-learn==1.8.0
scipy==1.17.1
seaborn==0.13.2
skops==0.13.0
streamlit==1.51.0
xgboost==3.2.0
